<footer class="global__footerwrapper">
    <div class="global__footerwrapper--inner">
        <div class="global__footerwrapper--inner--text">
          <p class="global__footerwrapper--inner--text--paragraph">
            &copy; Copyright <span id="currentYear">2025</span>
            | Next Chapter Senior Transitions, LLC 
            <a class="global__footerwrapper--links" href="https://nextchapterseniors.com" alt="next chapter seniors">  nextchapterseniors.com</a>
             | Problems with site? <a class="global__footerwrapper--links" href="mailto:admin@nextchapterseniors.com" alt="Color in Code" target="_blank"> Contact webmaster </a> 
             | Site By <a class="global__footerwrapper--links" href="https://colorincode.me/" target="_blank" alt="Color in Code">Color in Code</a>
          </p>
        </div>
      </div>  
</footer>