<header class="header--top--global">
    <button class="hamburger" aria-label="Toggle menu" aria-expanded="false">
      <span></span><span></span><span></span>
    </button>
    <nav class="navbar--top">
        <!-- <a class="navbar__item__link--horizontal" href="#home">
                <img src="../../assets/nextchapterlogo.png" alt="next chapter seniors" class="navbar__item__img--horizontal" />
        </a> -->
        <ul class="navbar__list--horizontal">
            <li class="navbar__item--horizontal" style="padding:unset; margin-top: -12px;">
                <a class="" href="#home">
                <img src="../../assets/next-chapter-trimmed.png" alt="next chapter seniors" class="navbar__item__img--horizontal" />
            </a></li>
            <li class="navbar__item--horizontal"><a class="navbar__item__link--horizontal" href="#about">About</a></li>
            <li class="navbar__item--horizontal"><a class="navbar__item__link--horizontal" href="#services">How it Works</a></li>
            <li class="navbar__item--horizontal"><a class="navbar__item__link--horizontal" href="#types">Types of Care</a></li>
            <li class="navbar__item--horizontal"><a class="navbar__item__link--horizontal" href="#testimonials">Testimonials</a></li>
            <!-- <li class="navbar__item--horizontal"><a class="navbar__item__link--horizontal" href="">Resources</a></li> -->
            <li class="navbar__item--horizontal"><a class="navbar__item__link--horizontal" href="#contact">Contact</a></li>
            <li class="navbar__item--horizontal cta--btn"><a class="navbar__item__link--horizontal cta--text" href="tel:+16503089232"><i class="fa-solid fa-duotone fa-phone-arrow-up-right cta-icon"></i> Call</a></li>
        </ul>
     <!-- <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div> -->
    
    </nav>
</header>

