<header class="header--top--global">
    <button class="hamburger" aria-label="Toggle menu" aria-expanded="false">
      <span></span><span></span><span></span>
    </button>
    <nav class="navbar--top">
        <ul class="navbar__list--horizontal">
            <li class="navbar__item--horizontal" style="padding:unset; margin-top: -12px;">
                <a class="" href="https://www.nextchapterseniors.com/">
                <img src="../../assets/next-chapter-trimmed.png" alt="next chapter seniors senior care in silicon valley" class="navbar__item__img--horizontal" />
            </a></li>
            <li class="navbar__item--horizontal"><a class="navbar__item__link--horizontal hover-underline-animation" href="#about">About</a></li>
            <li class="navbar__item--horizontal"><a class="navbar__item__link--horizontal hover-underline-animation" href="#services">How it Works</a></li>
            <li class="navbar__item--horizontal"><a class="navbar__item__link--horizontal hover-underline-animation" href="#types">Types of Care</a></li>
            <li class="navbar__item--horizontal"><a class="navbar__item__link--horizontal hover-underline-animation" href="#testimonials">Testimonials</a></li>
            <li class="navbar__item--horizontal"><a class="navbar__item__link--horizontal hover-underline-animation" href="#contact">Contact</a></li>
            <li class="navbar__call--btn--item--horizontal cta--btn"><a class="navbar__item__call--btn--horizontal cta--text" href="tel:+16503089232" target="_blank"><i class="fa-solid fa-duotone fa-phone-arrow-up-right cta-icon"></i> Call</a></li>
        </ul>
    </nav>
</header>

