//empty class instantiation for nav bars 
@use './helpers.scss' as *;

.header--top--global {
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 30px 0 0 0;
    display: flex;
    // overflow: hidden;
    width: 100%;
}
.navbar--top {
    background: #FFFFFF99;
    // background: hsla(46, 98%, 84%, 0.8);
    border: 1px solid var(--semi-transparent);
    backdrop-filter: blur(16px);
    box-shadow: 0 4px 6px #0000001a;
    // box-shadow: 0 4px 6px var(--sunglow);
    // box-shadow: 2px 2px 10px var(--sunglow);
    border-radius: 1rem;
    transition-property: transform, height, box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
    display: flex;
    width: 100%;
    // height: 86px;
    height: 94px;
    margin: 0 96px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  //   @media screen and (max-width:1367px) and (min-width:942px) {
  //       width: 98%;
  //   }
  //    @media screen and (min-width:1368px) {
  //   // margin-top: 15vh;
  //   // max-width: 90rem;
  //   // margin-left: 13vw;
  // }
}

.phone-box {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  // background-color: #fdcc32;
  border: 1px solid var(--semi-transparent);
  backdrop-filter: blur(16px);
  background: #fff9;
  padding: 20px 25px;
  border-radius: 1rem;
  margin-top: 10px;
  text-align: center;
  font-family: var(--ff-poppins);
  font-weight: var(--semibold);
  color: var(--off-black);
  font-size: 1.1rem;
  z-index: 1000;

  transform: translate(400px, 86px);
  transition: transform 0.3s ease, opacity 0.9s ease;
  opacity: 0;
  pointer-events: none;
}
.phone-box.visible {
  transform: translate(0, 86px);
  opacity: 1;
}
.phone-box > span {
  padding-top: 5px;
}


.navbar--logo {
    display: inline-flex;
    // align-items: center;
    // height: 24px;
}
.navbar__list--horizontal {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: flex-start;
    align-content: space-between;
    margin: 0;
    flex-wrap: nowrap;
    flex-shrink: 1;
    justify-items: flex-start;
    justify-content: space-evenly;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    width: 100%;
}
.navbar--bottom {}
.navbar--left {}
.navbar--right {}

.navbar__wrapper--horizontal {}
.navbar__wrapper--vertical {}


.navbar__list--vertical {}

.navbar__item--horizontal {
    align-self: center;
    // padding: 0 4rem 0 2rem;
    padding: 0 2% 0 2%;
    // @media screen and (max-width:1120px) {
    //     padding: 0 2% 0 1%;
    // }
    @media screen and (min-width:943px) and (max-width:1200px) {
    padding: 0 1% 0 1%;
    }
}
.navbar__item--vertical {}

.navbar__item__link--horizontal { 
    font-family: var(--ff-poppins);
    font-weight: var(--semibold);
    color: var(--off-black);
    font-size: 1rem;
    line-height: 2;
    text-transform: capitalize;
    white-space: nowrap;
    outline: none;
    @media screen and (min-width:943px) and (max-width:1200px) {
    font-size: 0.75rem;
    }
}

.navbar__call--btn--item--horizontal {
    align-self: center;
    // padding: 0 4rem 0 2rem;
    padding: 0 3% 0 3%;
    // @media screen and (max-width:1120px) {
    //     padding: 0 2% 0 1%;
    // }
      @media screen and (min-width:943px) and (max-width:1200px) {
      padding: 0 1.666667% 0 1.666667%;
    }

}
.navbar__item__call--btn--horizontal { 
    font-family: var(--ff-poppins);
    font-weight: var(--semibold);
    color: var(--off-black);
    font-size: 1rem;
    // letter-spacing: .095em;
    line-height: 2;
    text-transform: capitalize;
    white-space: nowrap;
    outline: none;
}

.navbar__item--horizontal:hover {
    transition: all 0.3s ease 0s; 
    // border-bottom: 2px solid var(--butterscotch-ok);
    // color: var(--butterscotch-ok);
    transform: scale(1.05);
}
// .navbar__item__link--horizontal:hover {

// }

.navbar__item__img--horizontal {
    width: auto;
    height: 96px;
    @media screen and (min-width:943px) and (max-width:1200px) {
    height: 75px;
    }
}
.navbar__item__link--vertical {
    font-weight: 500;
    font-size: .8125rem;
    // letter-spacing: .075em;
    line-height: 2;
    text-transform: capitalize;
    white-space: nowrap;
}
.cta--btn {
    background: var(--butterscotch-ok);
    border-radius: 0.5rem;
    padding: 1rem 1.75rem;
    box-shadow: 3px 2px 3px #0000001a;
    transition: all 0.3s ease;
    @media screen and (min-width:943px) and (max-width:1200px) {
    padding: 0.75rem 1.25rem;
    }
    @media screen and (min-width:1201px) and (max-width:3468px) {
    padding: 1rem 2.75rem;
  }
}
.cta--btn:hover {
    background-color: var(--orange-crayola);
     color: var(--vanilla);
    transform: translateY(-3px);
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 2px;
  left: 0;
  background-color: var(--sunglow-ok);
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}
.hover-underline-animation:hover::after,
.hover-underline-animation:focus::after,
.hover-underline-animation:active::after {
  transform: scaleX(1);
}
.hover-underline-animation.left::after {
  transform-origin: bottom right;
}
.hover-underline-animation:focus {
  /* Add a subtle focus ring for accessibility */
  box-shadow: 0 0 0 3px rgba(var(--sunglow-ok), 0.3);
}
.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

.hover-underline-animation.center::after {
  transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
  transform-origin: bottom center;
}

.hover-underline-animation.right::after {
  transform-origin: bottom left;
}

.hover-underline-animation.right:hover::after {
  transform-origin: bottom right;
}

.cta--text {
    //  color: oklch(0.34 0.1432 63.6); //variant of butterscotch
     color: var(--vanilla);
}
.cta-icon {
    color: var(--vanilla);
    // color: var(--maya-blue);
}

.navbar__item__link__icon--horizontal {}
.navbar__item__link__icon--vertical {}

.navbar__item__link__text--horizontal {}
.navbar__item__link__text--vertical {
    width: 100%;
}
.hamburger {
  display: none;
}
.hamburger.open {
    padding-top: 0px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: var(--butterscotch);
    margin: 3px 0;
    border-radius: 2px;
    transition: all 0.3s ease;
}
.hamburger.open span:nth-child(1) { 
    // transform: rotate(45deg)translate(8px, 11px);
    	transform: translate(0px, 13px) rotate(45deg);
        animation-name: bar-one-animate;
	    animation-duration: 0.4s; 
}
.hamburger.open span:nth-child(2) { opacity: 0; transition: 0.5s}
.hamburger.open span:nth-child(3) { 
    // transform: rotate(-45deg)translate(5px, -9px);
    	animation-name: bar-three-animate;
	    animation-duration: 0.7s; 
    	transform: translate(0px, -5px) rotate(135deg);
}

@media screen and (max-width: 942px) {

    .header--top--global {
        padding: 0;
        width: auto;
        height: 34px;
        margin: 1.5rem 1rem;
    }
    .navbar--top {
        border: none;
        background: none;
        box-shadow: none;
        backdrop-filter: unset;
        width: auto; //corrects overflow
    }
    .navbar--top.active {
        height: auto;
        min-height: 680px;
        background: none;
    
    }
  .navbar__list--horizontal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100dvh;
    padding: 0 2rem;
    width: 75vw;
    max-width: 320px;
    max-height: -webkit-fill-available;
    background: hsla(47, 93%, 72%, 0.799);
    backdrop-filter: blur(13px);
    flex-direction: column;
    gap: 2rem;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    box-shadow: 1px 0 4px rgba(0,0,0,0.15);
    transition: none;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    @media screen and (max-width: 768) {
        height: 100dvh;
        padding: 0 2rem;
    }
  }
  .navbar__list--horizontal.active {
    pointer-events: auto;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
//   gap: 2px;
    border: none;
    //   background: var(--semi-transparent);
    background: var(--vanilla);
    cursor: pointer;
    z-index: 200;
    //   border-radius: 2px;
    padding-top: 3px;
    box-shadow: 3px 2px 3px #0000001a;
    height: 34px;
  }
}


@keyframes bar-one-animate {
	0%{
		transform: translate(0px, 0px) rotate(0deg);
	}
	60% {
		transform: translate(0px, 10px) rotate(0deg);
		filter: contrast(1);
	}
	100% {
		transform: translate(0px, 13px) rotate(45deg);
		filter: contrast(0.9);
	}
}

// @keyframes bar-one-animate-back {
// 	0%{
// 		transform: translate(0px, 20px) rotate(45deg)
// 	}
// 	40% {
// 		transform: translate(0px, 20px) rotate(0deg);
// 	}
// 	100% {
// 		transform: translate(0px, 0px) rotate(0deg) 
// 	}
// }

@keyframes bar-three-animate {
	0%{
		transform: translate(0px, 0px) rotate(0deg);
	}
	40% {
		transform: translate(0px, -3px) rotate(0deg);
	}
	100% {
		transform: translate(0px, -5px) rotate(135deg);
	}
}

// @keyframes bar-three-animate-back {
// 	0%{
// 		transform: translate(0px, -20px) rotate(135deg);
// 	}
// 	50% {
// 		transform: translate(0px, -20px) rotate(0deg);
// 	}
// 	100% {
// 		transform: translate(0px, 0px) rotate(0deg) 
// 	}
// }