// @use 'colors' as c;
@use './helpers.scss' as *;

body {
  background: var(--off-white);
  // color: color-mix(in oklab, var(--maya-blue-ok), var(--_brand-white) 90%);
}
//typography
.caption--heading {
  font-family: var(--ff-geneo-std);
  font-size: var(--paragraph);
  color: color-mix(in oklab, var(--off-black) 90%, var(--off-white) 10%);
  padding: 1rem 0.5rem;
}
.section--heading {
  font-family: var(--ff-degular);
  font-size: var(--subhead-md);
  text-align: center;
  margin-bottom: 1rem;
  padding: 2rem 1rem;
  color: color-mix(in oklab, var(--maya-blue-ok) 70%, var(--off-black) 30%);
}
.caption--paragraphtext {
  font-family: var(--ff-acumin-pro);
  font-size: var(--xtrasmall-text-clamp);
  text-align: left;
  word-wrap: normal;
  line-height: 1.25;
  padding: 1rem 1rem;
}

.darkblue--textvariant {
  color: color-mix(in oklab, var(--maya-blue-ok) 70%, var(--off-black) 30%);
}
.orange--textvariant {
  color: color-mix(in oklab, var(--butterscotch-ok) 80%, var(--off-white) 20%);
}
.leadin--header--outerwrapper {
  width:100%;
  min-height: 75vh;
  background: url('../../assets/main-lead.jpg') center top / cover;
  position: relative;
  top: 0;
  display: grid;
  place-self: center;
  background-attachment: fixed;
  margin: 0 auto;
  padding: 0;
  

}
.leadin--header--innerwrapper {
  display: flex;
  // margin-top: 10vh;
  // margin-left: 21vw;
  margin-top: 15vh;
  // margin-left: 6vw;
  margin-left: 2vw;
  max-width: 90rem;
  width: 90%;
  align-self: flex-start;
  color: var(--vanilla-ok);
  flex-direction: column;
  margin: 15vh auto;
  // @media screen and (min-width:1668px) {
  //   margin-top: 15vh;
  //   // margin-left: 13vw;
  // }
}
.leadin--header--title {
    font-family: var(--ff-degular);
    font-size: var(--header);
    font-weight: var(--bold);
    color: var(--vanilla);
    margin: 2rem 0 2rem 0;
}
.leadin--header--subtitle {
    font-family: var(--ff-degular);
    color: var(--off-white);
    font-size: var(--subhead-sm);
    width: 70%;
}
.leadin--cta-btn {
    font-family: var(--ff-poppins);
    font-weight: var(--semibold);
    color: var(--off-white);
    white-space: nowrap;
    font-size: 1rem;
    line-height: 1;
    background: hsla(207, 100%, 75%, 0.75);
    border: 1px solid var(--uranian-blue);
    border-radius: 1rem;
    backdrop-filter: blur(13px);
    padding: 1rem 1.75rem;
    box-shadow: 3px 2px 3px #0000001a;
    max-width: 350px;
    margin: 2rem 0 2rem 0;
    transition: all 0.4s ease-in-out;
    // background: repeating-linear-gradient(45deg, var(--semi-transparent) 0%, var(--maya-blue-ok) 100%);
}
.leadin--cta-btn:hover {
    background: var(--uranian-blue);
    cursor: pointer;
}

.about--grid__outerwrapper {}
.about--grid__innerwrapper {
  grid-template-columns: minmax(0, 30%) minmax(0, 70%);
  gap: 1rem;
  display: grid;
  max-width: 90rem;
  width: 90%;
  margin: 0 auto;
  background: color-mix(
    in oklab,
    var(--vanilla-hsla) 10%,
    var(--off-white) 90%
  );
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  @media screen and (max-width:768px) {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}
.about--grid--text {
  font-family: var(--ff-poppins);
  font-size: var(--small-text-clamp);
  text-align: left;
  color: var(--off-black);
  word-wrap: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.about--grid-captiontext {
  font-family: var(--ff-geneo-std);
}
.about--grid__card {
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.about--grid__card--img-div {
  background-color: var(--pale-dogwood);
  display: flex;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  height: fit-content;
  color: var(--off-black);
  font-family: var(--ff-poppins);
  border-radius: 5px;
}
.about--grid__card--img {
  object-fit: cover;
  display: flex;
  max-width: 384px;
  align-items: center;
  justify-content: center;
  height: fit-content;
  border-radius: 5px;
}
.about--grid--header {
  font-family: var(--ff-geneo-std);
}
.about--grid__card:hover {
  transform: translateY(-5px);
}
// .about--header--title {
//   font-family: var(--ff-degular-display);
//   font-size: var(--subhead-sm);
//   text-align: center;
//   margin-top: 2rem;

// }

.content-section {
  padding: 2rem 2rem;
  background-color: var(--off-white);
  max-width: 90rem;
  width: 90%;
  margin: 0 auto;
}
// .content-section:nth-child(even) {
// background: repeating-linear-gradient(45deg, var(--off-white), var(--vanilla-ok) 20px, var(--off-white) 20px, var(--vanilla-ok) 40px);
//   // border-top: 1px solid var(--butterscotch);
// }
.howitworks__gridwrapper {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  display: grid;
}
.howitworks--textvariant {
  color: color-mix(in oklab, var(--maya-blue-ok) 70%, var(--off-black) 30%);
}
.howitworks--paragraphtext {
  font-family: var(--ff-acumin-pro);
  font-size: var(--xtrasmall-text-clamp);
  text-align: left;
  word-wrap: normal;
  line-height: 1.25;
}
.howitworks__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  justify-content:space-between;
  position: relative;
  background: 
  color-mix(in oklab, var(--sunglow-ok) 20%, var(--off-white) 80%);
  border-radius: 10px;
  box-shadow: 0 4px 8px #2419191a;
}
.howitworks__list--span {
  // color: color-mix(in oklab, var(--sunglow-ok) 80%, var(--off-black) 20%);
  color: color-mix(in oklab, var(--sunglow-ok) 90%, var(--off-black) 10%);
  font-size: var(--xtrasmall-text-clamp);
  font-weight: var(--bold);
}
.howitworks__list li {
  min-height: 4rem;
  border-radius: 10px;
  padding:1rem 1rem;
  // background: color-mix(in oklab, var(--uranian-blue) 30%, var(--off-white) 70%);
  // border: 2px solid var(--maya-blue-ok);
}
.howitworks__list li p {
  font-family: var(--ff-acumin-pro);
  font-size: var(--xtrasmall-text-clamp);
  color: color-mix(in oklab, var(--sunglow-ok) 90%, var(--off-black) 10%);
  text-align: left;
  word-wrap: normal;
  line-height: 1.25;
}
.howitworks__gridcard {
  padding: 1.5rem;
  border-radius: 10px;
  background: color-mix(in oklab, var(--uranian-blue) 20%, var(--off-white) 20%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  // box-shadow: 3px 3px 8px #bebebe, -3px -3px 8px #ffffff;
  // box-shadow: inset 3px 3px 8px var(--maya-blue), inset -3px -3px 8px #ffffff;
  box-shadow: 3px 3px 8px var(--uranian-blue), -20px -20px 60px #ffffff;
}
.howitworks__gridcard:active , .howitworks__gridcard:hover {
  box-shadow: inset 3px 3px 8px var(--maya-blue), inset -3px -3px 8px #ffffff;
  transform: translateY(-5px);
  // box-shadow: inset 3px 3px 8px #bebebe, inset -3px -3px 8px #ffffff;
}
.whychoose__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}
.whychoose--card {
    background-color: var(--off-white);
    // padding: 0 1rem 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.whychoose--card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.whychoose--img {
    object-fit: cover;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: fit-content;
    display: flex;
}
.whychoose--img--div {
    object-fit: cover;
    height: fit-content;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.howitworks--img {
    object-fit: cover;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    max-width: 204px;
    height: 204px;
    // max-width: 306px;
    // height: 204px;
    // height: fit-content;
    display: flex;
}
// .howitworks--img:hover {
//    transform: translateY(-5px);
// }
// .howitworks--img--div::before{
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   background-color: var(--maya-blue);
//   border: 1px solid var(--butterscotch);
// }
#contact.content-section {
  // background: var(--butterscotch);
  background: url('../../assets/GettyImages-1203192990.jpg') center center / cover;
  width: 100%;
  padding: 1rem 0 1rem 0;
  margin: 1rem auto 1rem auto;
  max-width: unset;
}
.contact-content__innerwrap {
    padding: 2rem 1rem;
    max-width: 90rem;
    width: 90%;
    margin: 0 auto;
    border: 1px solid var(--off-white);
    background: var(--semi-transparent);
    backdrop-filter: blur(3px);
    border-radius: 10px;

}
.howitworks--img--div {
    object-fit: cover;
    height: fit-content;
    // height: 204px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#contact .cta-button {
    display: block;
    margin: 2rem auto;
    text-align: center;
    font-family: var(--ff-acumin-pro);
    font-weight: 600;
}
.lead-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 4rem 2rem;
    background-color: var(--light-orange);
    align-items: center;

    @media screen and (max-width:60rem) {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.lead-content {
    padding: 2rem;
}

.lead-title {
    font-family: var(--ff-degular);
    font-size: 2.5rem;
    color: var(--off-black);
    margin-bottom: 1rem;
}

.lead-subtitle {
    font-family: var(--ff-poppins);
    font-size: 1.2rem;
    color: var(--off-black);
    margin-bottom: 2rem;
}

.cta-button {
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: var(--orange-crayola);
    color: var(--off-white);
    text-decoration: none;
    border-radius: 8px;
    font-family: var(--ff-acumin-pro);
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: var(--butterscotch);
    transform: translateY(-3px);
}

.lead-image .image-placeholder {
    background-color: var(--uranian-blue);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--off-white);
    font-family: var(--ff-poppins);
    font-size: 1.2rem;
    border-radius: 10px;
}


// .content-section h2 {
//     font-family: var(--ff-degular);
//     // font-family: var(--ff-geneo-std);
//     font-size: var(--subhead-sm);
//     font-size: 2rem;
//     text-align: center;
//     margin-bottom: 2rem;
//     color: var(--grass-green);
// }
.content--paragraphtext {
    font-family: var(--ff-acumin-pro);
    // font-family: var(--ff-geneo-std);
    font-size: var(--small-text-clamp);
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--off-black);
    word-wrap: normal;
    line-height: 1.5;
  
  }
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.service-card {
    background-color: var(--uranian-blue);
    padding: 0 1.5rem 0.5rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card-icon {
  font-size: var(--header);
}

.service-card--img {
    object-fit: cover;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    max-width: 336px;
    height: fit-content;
    display: flex;
}
.service-card--img--div {
    object-fit: cover;
    height: fit-content;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.service-card--img {
    object-fit: cover;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    max-width: 336px;
    height: fit-content;
    display: flex;
}
.service-card--img--div {
    object-fit: cover;
    height: fit-content;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-image-placeholder {
    background-color: var(--pale-dogwood);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--off-black);
    font-family: var(--ff-poppins);
    border-radius: 5px;
    margin-bottom: 1rem;
}

//splide overrides and testimonials

.splide__track {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    var(--light-orange-ok),
    var(--vanilla-ok)
  ); /* Gradient background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  position: relative;
  overflow: hidden;
}

.splide__track::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none; /* Allow clicking through the pattern layer */
}

.splide__track--blockquote {
    font-family: var(--ff-acumin-pro);
    font-size: var(--paragraph);
    color: color-mix(in oklab, var(--orange-crayola-ok) 90%, var(--off-black) 10%);
    text-align: center;
    word-wrap: normal;
    line-height: 1.75;
    padding: 3rem 2rem 1rem 2rem;
}
.splide__track--blockquote-third {
  line-height: 1.5;
  padding: 3rem 2rem 1rem 1rem;
}
.splide__track--text {
    font-family: var(--ff-acumin-pro);
    font-size: var(--small-text-clamp);
    font-weight: var(--semibold);
    color: var(--orange-crayola-ok);
    text-align: right;
    word-wrap: normal;
    line-height: 1.25;
    padding: 1rem 8rem;
}
.splide__pagination__page {
  background: color-mix(in oklab, var(--vanilla-ok) 80%, var(--off-white) 20%) !important;
}
.splide__pagination__page.is-active {
  background: var(--orange-crayola-ok);
}
.splide__arrow svg {
    fill: var(--orange-crayola-ok) !important;
    width: 1.2em;
    height: 1.2em;
}
.splide__arrow {
  background: var(--vanilla-ok) !important;
  top: 62% !important;
}
// .splide__progress__bar {
//   height: 3px;
//   background: var(--orange-crayola-ok) !important;
// }
.splide__toggle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--vanilla-ok);
  border: 2px solid var(--butterscotch-ok);
}
.splide__toggle svg {
    fill: var(--orange-crayola-ok) !important;
}
.contact--btn__wrapper {
  // grid-template-columns: minmax(0, 30%) minmax(0, 70%);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  display: grid;
  max-width: 90rem;
  width: 90%;
  margin: 0 auto;
  background: var(--semi-transparent);
  // background: color-mix(
  //   in oklab,
  //   var(--vanilla-hsla) 10%,
  //   var(--off-white) 90%
  // );
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  @media screen and (max-width:768px) {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}


//form--styles
.form__toggle-button {
  position: relative;
  // position: fixed;
  // top: 20px;
  // right: 20px;
  // padding: 12px 24px;
  // background: var(--maya-blue-ok);
  // color: var(--off-white);
  // background: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: .8rem 2rem;
  // font-family: var(--ff-acumin-pro);
  // font-size: var(--small-text-clamp);
  // font-weight: 600;
  transition: background 0.3s;
  z-index: 889;
}

.form__toggle-button:hover {
  background-color: var(--butterscotch);
  transform: translateY(-3px);
}

.form__iframe-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 90vw; /* Responsive width */
  max-width: 400px; /* Constrain max width */
  height: 100vh; /* Full height */
  max-height: 100vh; /* Constrain max height */
  background: var(--off-white);
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
  z-index: 1200;
  display: flex;
  flex-direction: column;
  transform: translateX(100%); /* Hidden by default */
}

.form__close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--butterscotch-ok);
  color: var(--off-white);
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-family: var(--ff-acumin-pro);
  font-size: var(--small-text-clamp);
}

.form__close-button:hover {
  background: var(--vanilla-ok);
}

.form__iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  flex: 1;
}


.global__footerwrapper {
  width: 100%;
  display: flex;
}
.global__footerwrapper--inner{
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.global__footerwrapper--inner--text--paragraph {
    font-family: var(--ff-acumin-pro);
    color: var(--off-black);
    text-align: center;
}
.global__footerwrapper--links{
    font-family: var(--ff-acumin-pro);
    color: var(--maya-blue-ok);
    transition: all 0.4s ease-in-out;
}
.global__footerwrapper--links:hover {
  color: var(--butterscotch-ok);
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .form__iframe-container {
      width: 100vw;
      max-width: none;
  }
}

//general mq
@media (max-width:768px) {
      .content-section {
        width: auto;
        padding: 1.5rem;
    }
    .leadin--header--outerwrapper {
        min-height: 31.5vh;
        background: url('../../assets/main-lead.jpg') center top / cover;
    }
    .leadin--header--innerwrapper {
      margin-top: 6vh;
      margin-left: 2vw;
      width: auto;
    }
}