// @use 'colors' as c;
@use './helpers.scss' as *;
* {
  box-sizing: border-box;
}
body {
  background: var(--off-white);
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  // color: color-mix(in oklab, var(--maya-blue-ok), var(--_brand-white) 90%);
}
//typography
.caption--heading {
  font-family: var(--ff-geneo-std);
  font-size: var(--paragraph);
  color: color-mix(in oklab, var(--off-black) 90%, var(--off-white) 10%);
  padding: 1rem 1rem 0 1rem;

  // padding: 1rem 0;
}
.section--heading {
  font-family: var(--ff-degular);
  font-size: var(--subhead-md);
  text-align: center;
  // margin-bottom: 1rem;
  padding: 1rem 1rem;
  color: color-mix(in oklab, var(--maya-blue-ok) 70%, var(--off-black) 30%);
}
.caption--paragraphtext {
  font-family: var(--ff-acumin-pro);
  font-size: var(--small-text-clamp);
  color: var(--off-black);
  text-align: left;
  word-wrap: normal;
  line-height: 1.5;
  padding: .5rem 1rem 0;
  // padding: 0.5rem 0.5rem 0 0.5rem; //same as heading
}
.caption--paragraphtext.lightblue--textvariant {
  // padding: 0.15rem 0.25rem 0 0.5rem;
    padding: 0.25rem 0;
  margin: auto;
}

.darkblue--textvariant {
  color: color-mix(in oklab, var(--maya-blue-ok) 70%, var(--off-black) 30%);
}
.orange--textvariant {
  color: color-mix(in oklab, var(--butterscotch-ok) 80%, var(--off-white) 20%);
}
.lightblue--textvariant {
  color: color-mix(in oklab, var(--maya-blue-ok) 80%, var(--off-black) 20%);
}
.leadin--header--outerwrapper {
  width:100%;
  min-height: 75vh;
  background: url('../../assets/main-lead.jpg') center top / cover;
  position: relative;
  top: 0;
  display: grid;
  place-self: center;
  background-attachment: fixed;
  margin: 0 auto;
  padding: 0;
  background-position: top -234px right 0px;
  min-height: 61vh;
  @media screen and (max-width:768px) {
    min-height: 25.5vh;
    background: url('../../assets/main-lead.jpg') center top / cover;
  }
}
.leadin--header--innerwrapper {
  display: flex;
  margin-top: 15vh;
  margin-left: 2vw;
  max-width: 90rem;
  width: 90%;
  align-self: flex-start;
  color: var(--vanilla-ok);
  flex-direction: column;
  margin: 15vh auto;
  @media screen and (min-width:1668px) {
  //  margin-top: 6vh;
  // margin-left: 2vw;
  width: auto;
  }
}
.leadin--header--title {
    font-family: var(--ff-degular);
    font-size: var(--header);
    font-weight: var(--bold);
    color: var(--vanilla);
    margin: 1rem 0 1rem 0;
}
.leadin--header--subtitle {
    font-family: var(--ff-degular);
    color: var(--off-white);
    font-size: var(--subhead-sm);
    width: 70%;
}
.leadin--cta-btn {
    font-family: var(--ff-poppins);
    font-weight: var(--semibold);
    color: var(--off-white);
    white-space: nowrap;
    font-size: 1rem;
    line-height: 1;
    background: hsla(207, 100%, 75%, 0.75);
    border: 1px solid var(--uranian-blue);
    border-radius: 1rem;
    backdrop-filter: blur(13px);
    padding: 1rem 1.75rem;
    box-shadow: 3px 2px 3px #0000001a;
    max-width: 350px;
    margin: 2rem 0 2rem 0;
    transition: all 0.4s ease-in-out;
    // background: repeating-linear-gradient(45deg, var(--semi-transparent) 0%, var(--maya-blue-ok) 100%);
}
.leadin--cta-btn:hover {
    background: var(--uranian-blue);
    color: var(--maya-blue-ok);
    cursor: pointer;
}

.about--grid__outerwrapper {}
.about--grid__innerwrapper {
  grid-template-columns: minmax(0, 30%) minmax(0, 70%);
  gap: 1rem;
  display: grid;
  // max-width: 90rem;
  // width: 90%;
  width: 100%;
  margin: 2rem auto;
  background: color-mix(
    in oklab,
    var(--vanilla-hsla) 10%,
    var(--off-white) 90%
  );
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  @media screen and (max-width:768px) {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}
.about--grid--text {
  font-family: var(--ff-poppins);
  font-size: var(--small-text-clamp);
  text-align: left;
  color: var(--off-black);
  word-wrap: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.about--grid-captiontext {
  font-family: var(--ff-geneo-std);
}
.about--grid__card {
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.about--grid__card--img-div {
  display: flex;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  height: fit-content;
  color: var(--off-black);
  font-family: var(--ff-poppins);
  border-radius: 5px;
  width: 100%;
}
.about--grid__card--img {
  object-fit: cover;
  display: flex;
  max-width: 384px;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: fit-content;
  border-radius: 5px;
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 896px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    min-height: 100%;
    height: auto;
  }
}
.about--grid--header {
  font-family: var(--ff-geneo-std);
}
.about--grid__card:hover {
  transform: translateY(-5px);
}


.content-section {
  padding: 1rem 1rem;
  background-color: var(--off-white);
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  @media screen and (max-width:768px) {
  width: 90%;
  padding: 0;
  }
}

.howitworks__gridwrapper {
  // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  // gap: 2rem;
  // display: grid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 1rem auto; //corrects box shadow overflow
  @media screen and (max-width:768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.howitworks--textvariant {
  color: color-mix(in oklab, var(--maya-blue-ok) 10%, var(--off-white) 90%);
  position: absolute;
  top: 0;
  background: #bde0fe24;
  height: 100%;
  width: 100%;
  padding: 0.5rem 0 0 0;
  margin: 0;

}
// .howitworks--paragraphtext {
//     color: color-mix(in oklab, var(--maya-blue-ok) 70%, var(--off-black) 30%);
// }
.howitworks--img--div {
    object-fit: cover;
    height: 100%;
    // height: 204px;

    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.howitworks--img {
    object-fit: cover;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
        min-height: 260px;
    // max-height: 220px;
    display: flex;
}
// .howitworks--img {
//     max-width: 404px;
// }
.howitworks--paragraphtext {
  font-family: var(--ff-acumin-pro);
  font-size: var(--small-text-clamp);
  color: var(--off-white);
  // color: color-mix(in oklab, var(--maya-blue-ok) 70%, var(--off-black) 30%);
  text-align: left;
  // word-wrap: normal;
  line-height: 1.25;
  // transition: opacity 0.5s ease-in-out;
  // transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
}
.howitworks__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  justify-content:space-between;
  position: relative;
  background: linear-gradient(78deg, oklch(94% .08 92.59 / .38), oklch(92% .05 63.32 / .39));
  // background: 
  // color-mix(in oklab, var(--vanilla-hsla) 10%, var(--off-white) 90%);
  border-radius: 10px;
  box-shadow: 0 4px 8px #2419191a;
  margin-block-start: 0;
  padding-inline-start: 0;
}
.howitworks__list--span {
  // color: color-mix(in oklab, var(--sunglow-ok) 80%, var(--off-black) 20%);
  // color: color-mix(in oklab, var(--sunglow-ok) 10%, var(--off-black) 90%);
  color: var(--butterscotch-ok);
  font-size: var(--small-text-clamp);
  font-weight: var(--bold);
}
.howitworks__list li {
  min-height: 4rem;
  border-radius: 10px;
  padding:1rem 1rem;
  // background: color-mix(in oklab, var(--uranian-blue) 30%, var(--off-white) 70%);
  // border: 2px solid var(--maya-blue-ok);
}
.howitworks__list li p {
  font-family: var(--ff-acumin-pro);
  font-size: var(--small-text-clamp);
  // color: color-mix(in oklab, var(--sunglow-ok) 90%, var(--off-black) 10%);
  color: color-mix(in oklab, var(--sunglow-ok) 10%, var(--off-black) 90%);
  text-align: left;
  word-wrap: normal;
  line-height: 1.25;
}
.howitworks__gridcard {
  max-width: 215px;
  // padding: 1.5rem 0;
  border-radius: 0.5rem;
  background: color-mix(in oklab, var(--uranian-blue) 20%, var(--off-white) 20%);
  box-shadow: 0 4px 4px #b3b3b3bb;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.4s ease;
  will-change: scroll-position;
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: flex-start;
  flex-grow: 2;
  // max-height: 580px;
  // min-height: 140px;
  @media screen and (max-width:768px) {
    max-width: 100%;
  }
}
// changed added class
.howitworks__gridcard:hover .howitworks--transition__wrapper {
  transform: translateX(0);
  width: 100%;
  height: 100%;
}
.howitworks--textvariant.caption--heading {
  color: var(--off-white);
  padding: 0.75rem;
  position: absolute;
  top:50%;
}
h4.howitworks--textvariant.caption--heading {
  position: absolute;
  top:43%; //needs to match the transform 
  transition: top .2s ease-out, bottom .2s ease-out;
}
.howitworks__gridcard:hover .howitworks--paragraphtext {
  opacity: 1;
  padding: 0.75rem;
  visibility: visible;
  color: #6e889f;
  font-weight: 500;
  padding-top:5%;
	top:20%;
	padding-bottom:5%;
  transition: all 0.4s 0.1s ease;
  transition-delay: calc(0.4s / 2);
  @media screen and (max-width:768px) {
    font-size: var(--paragraph);
    word-wrap: normal;
    text-wrap: pretty;
  }
}
.howitworks__gridcard:hover .caption--heading {
  transition: all 0.3s 0.1s ease-in;
  color: oklch(0.65 0.08 244.59);
  background: hsl(265deg 40% 99% / 77%);
  backdrop-filter: blur(3px);
}
.howitworks__gridcard:hover h4.howitworks--textvariant.caption--heading {
  transform: translateY(-43%);
}
.howitworks__gridcard:hover .fa-howitworks-caret {
  transform: rotate(180deg);
}

.howitworks--transition__wrapper {
  transition: all 0.4s ease;
  transform: translateX(0);
}
.howitworks__gridcard:hover {
  cursor: pointer;
  max-width: 400px;
  @media screen and (max-width:768px) {
    max-width: 100%;
    scale: 1;
  }
}
.howitworks__blockquote {
    background: linear-gradient(120deg, oklch(0.94 0.08 92.59 / 0.38), oklch(0.92 0.05 63.32 / 0.39));
    box-shadow: 0 3px 6px #0000001a;
    padding: 0 2rem;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}
.howitworks__btnwrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  padding:1rem;
}
.howitworks__blockquote:hover {
  background-size: 200% 200%;
}
.howitworks__blockquote-heading {
  font-family: var(--ff-degular);
  font-size: var(--subhead-md);
  text-align: center;
  padding: 1rem 1rem;
  color: color-mix(in oklab, var(--maya-blue-ok) 70%, var(--off-black) 30%);
}
.howitworks__blockquote-text {
  font-family: var(--ff-acumin-pro);
  font-size: var(--small-text-clamp);
  color: 
  color-mix(in oklab, var(--orange-crayola-ok) 10%, var(--off-black) 90%);
  text-align: left;
  word-wrap: normal;
  padding: 2rem 1rem 1rem;
  line-height: 1.5;
  margin: 0 auto;
}
.howitworks__blockquote-span {
  color: var(--orange-crayola-ok);
  font-weight: var(--bold);
}
.howitworks__button {
  background: oklch(0.76 0.11 45.49);
  border-radius: 0.5rem;
  padding: 1rem 1.75rem;
  border: none;
  margin: 0 auto;
  width: 200px;
  font-family: var(--ff-poppins);
  font-weight: var(--semibold);
  color: var(--vanilla-ok);
  background: var(--butterscotch-ok);
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1;
  transition: all 0.3s ease;
}
.howitworks__button:hover {
  color: var(--vanilla-ok);
  background: oklch(0.76 0.11 45.49);
  cursor: pointer;
  transform: translateY(-5px);
}
.whychoose__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    width: 100%;
    
}
.whychoose--card {
    background-color: var(--off-white);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.whychoose--card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.whychoose--img {
    object-fit: cover;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: fit-content;
    display: flex;
}
.whychoose--img--div {
    object-fit: cover;
    height: fit-content;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.endcap__outerwrap {
  background: url('../../assets/GettyImages-1203192990.jpg') center center / cover;
  background-attachment: fixed;
  width: 100%;
  padding: 1rem 0 1rem 0;
  margin: 1rem auto 0 auto;
  max-width: unset;
  background-position: top 0 right 0;
   @media screen and (min-width:769px) and (max-width:1328px) {
    background-position: top 0 right 0;
   }
  @media screen and (max-width:768px) {
    background: url(../../assets/GettyImages-1203192990.jpg) right 0px top 0px / cover fixed no-repeat;
    margin: 0;
    line-height: 1.5;
  }
}
#contact.content-section {
  background: none;
  width: 100%;
  padding: unset;
  max-width: unset;
  @media screen and (max-width:768px) {
    width: 90%;
    padding: 0.75rem;
  }
}
.contact-content__innerwrap {
    padding: 2rem 1rem;
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--pale-dogwood);
    background: #feebaf9e;
    backdrop-filter: blur(12px);
    border-radius: 10px;
    @media screen and (max-width:768px) { 
      padding: 0;
    }

}
.contact-content__innerwrap .section--heading {
  color: var(--butterscotch-ok);
}
.contact--paragraphtext {
  font-family: var(--ff-acumin-pro);
  font-size: var(--small-text-clamp);
  text-align: left;
  color: var(--off-black);
  word-wrap: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  @media screen and (max-width:768px) {
    padding: 0.75rem;
  }
}
#contact .cta-button  {
    display: block;
    margin: 1rem auto;
    text-align: center;
    font-family: var(--ff-acumin-pro);
    font-weight: 600;
    border: none;
    @media screen and (max-width:768px) {
      width: 100%;
      padding: .8rem 2rem;
      margin: 0;
    }
}
#contact .form__toggle-button {
  @media screen and (max-width:768px) {
      width: 100%;
      padding: 0;
      margin: 0;
      min-height: 43px;
    }
}
.lead-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 4rem 2rem;
    background-color: var(--light-orange);
    align-items: center;

    @media screen and (max-width:60rem) {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.lead-content {
    padding: 2rem;
}

.lead-title {
    font-family: var(--ff-degular);
    font-size: 2.5rem;
    color: var(--off-black);
    margin-bottom: 1rem;
}

.lead-subtitle {
    font-family: var(--ff-poppins);
    font-size: 1.2rem;
    color: var(--off-black);
    margin-bottom: 2rem;
}

.cta-button {
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: var(--butterscotch);
    color: var(--off-white);
    text-decoration: none;
    border-radius: 8px;
    font-family: var(--ff-acumin-pro);
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: var(--orange-crayola);
    transform: translateY(-3px);
}

.lead-image .image-placeholder {
    background-color: var(--uranian-blue);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--off-white);
    font-family: var(--ff-poppins);
    font-size: 1.2rem;
    border-radius: 10px;
}
.content--paragraphtext {
    font-family: var(--ff-acumin-pro);
    font-size: var(--small-text-clamp);
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--off-black);
    word-wrap: normal;
    line-height: 1.5;
  
  }
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
}
.service-card-caption--heading {
  font-family: var(--ff-geneo-std);
  font-size: var(--small-text-clamp);
  color: color-mix(in oklab, var(--maya-blue-ok) 80%, var(--off-black) 20%);
  padding: 0.25rem 0;
}
.service-card {
  background: color-mix(
    in oklab,
    var(--maya-blue-ok) 10%,
    var(--off-white) 90%
  );
  padding: 0 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-start;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 3px 4px var(--uranian-blue-ok);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.service-card-icon {
  font-size: var(--header);
}
.fa-services-icons {
  color: var(--maya-blue-ok);
  font-size: 4rem;
  position: absolute !important;
  top: 2px;
  right: 3px;
  opacity: 0.4;
}
.fa-howitworks-caret {
    font-size: clamp(1.5rem, .875rem + .625vw, 2rem);
    transition: all 0.3s ease-in-out;
}
.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px var(--maya-blue-ok);
}
.card-image-placeholder {
    background-color: var(--pale-dogwood);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--off-black);
    font-family: var(--ff-poppins);
    border-radius: 5px;
    margin-bottom: 1rem;
}
//splide overrides and testimonials
.splide__track {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    var(--light-orange-ok),
    var(--vanilla-ok)
  ); /* Gradient background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  position: relative;
  overflow: hidden;
}

.splide__track::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none; 
}

.splide__track--blockquote {
    font-family: var(--ff-acumin-pro);
    font-size: var(--paragraph);
    font-style: italic;
    color: color-mix(in oklab, var(--orange-crayola-ok) 90%, var(--off-black) 10%);
    text-align: left;
    word-wrap: normal;
    line-height: 1.75;
    padding: 3rem 2rem 1rem 2rem;
    @media screen and (max-width:768px) {
      padding: 3rem 0 0 0;
      line-height: 1.5;
    }
}

.splide__track--text {
    font-family: var(--ff-acumin-pro);
    font-size: var(--small-text-clamp);
    font-weight: var(--semibold);
    color: var(--orange-crayola-ok);
    text-align: right;
    word-wrap: normal;
    line-height: 1.25;
    padding: 1rem 8rem;
}

.splide__pagination__page {
  background: color-mix(in oklab, var(--vanilla-ok) 80%, var(--off-white) 20%) !important;
}
.splide__pagination__page.is-active {
  background: var(--orange-crayola-ok);
}
.splide__arrow svg {
    fill: var(--orange-crayola-ok) !important;
    width: 1.2em;
    height: 1.2em;
}
.splide__arrow {
  background: #fcd6c5a0 !important;
  top: 58% !important;
}
.splide__arrow--prev {
  @media screen and (max-width:768px) {
    left: 0.1em!important;
  }
}
.splide__arrow--next {
  @media screen and (max-width:768px) {
    right: 0.1em!important;
  }
}
.splide--mobile {
  @media screen and (max-width:768px) {
    width: 100%!important;
    padding-left: 0!important;
    padding-right: 0!important;
  }
}
.splide__toggle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--vanilla-ok);
  border: 2px solid var(--butterscotch-ok);
}
.splide__toggle svg {
    fill: var(--orange-crayola-ok) !important;
}
.contact--btn__wrapper {
  // grid-template-columns: minmax(0, 30%) minmax(0, 70%);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  display: grid;
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  background: transparent;
  @media screen and (max-width:768px) {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-content: center;
    // align-items: center;
    margin: auto;
    justify-items: center;
    width: 100%;
  }
}
.contact--btn__wrapper > a  {
  @media screen and (max-width:768px) { 
    padding: 0.5rem;
  }
}
.contact--btn__wrapper  button  {
  @media screen and (max-width:768px) { 
    padding: 0.5rem;
  }
}

//form--styles
.form__toggle-button {
  position: relative;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: .8rem 2rem;
  transition: background 0.3s;
  z-index: 889;
}

.form__toggle-button:hover {
  background-color: var(--butterscotch);
  transform: translateY(-3px);
}

.form__iframe-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 90vw; 
  max-width: 400px; 
  height: 100dvh; 
  max-height: 100dvh; 
  background: var(--off-white);
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
  z-index: 1200;
  display: flex;
  flex-direction: column;
  transform: translateX(100%); /* Hidden by default */
  @media screen and (max-width:600px) {
    width: 100vw;
    max-width: none;
  }
}

.form__close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--butterscotch-ok);
  color: var(--off-white);
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-family: var(--ff-acumin-pro);
  font-size: var(--small-text-clamp);
}

.form__close-button:hover {
  background: var(--vanilla-ok);
}

.form__iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  flex: 1;
}
.splide__internalslide__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@font-face {
  font-family: var(--ff-geneo-std);
  src: url('https://use.typekit.net/sxr5bpk.css');
}
.splide__internalslide__wrapper::before,
.splide__internalslide__wrapper::after {
    font-family: var(--ff-geneo-std);
    // src: url(var(--geneo-std-tk-url));
    font-style: var(--default-style);
    font-display: var(--default-swap);
    font-size: 8em;
    height: 43px;
    width: 43px;
    padding: 3px 20px 20px 12px;
    position: absolute;
    color: #e8943a;
    line-height: 1;
    // color: var(--quote-marks-color);
    opacity: 0.4;
}
.splide__internalslide__wrapper::before {
    content: "\201C";
    left: 0;
    top: 0;
    @media screen and (max-width:1024px) {
        top: 0;
    }
}
.splide__internalslide__wrapper::after {
    content: "\201D";
    right: 0;
    bottom: 0;
    @media screen and (max-width:1024px) {
        bottom: 0;
    }
}
.testimonial--doctor--badge__wrapper {
  // border: 2px solid red;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  display: flex;
}
.fa-testimonials-doctor__wrapper {
  // margin-left: auto;
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.fa-testimonials-doctor {
  font-size: 30px;
  color: #e8943a;
}
.doctor--badge--text__wrapper {
  border-radius: 8px;
  display: flex;
  border: 3px solid #e8943a;
  margin-right: 20px;
  padding: 10px;

}
.doctor--badge--text {
  font-family: var(--ff-acumin-pro);
  font-size: var(--paragraph);
  color: #e8943a;
  margin: 0;
}

.review__outerwrap {
  background-attachment: fixed;
  width: 100%;
  padding: 1rem 0 1rem 0;
  margin: 1rem auto 0 auto;
  max-width: unset;
}
.review__btnwrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  padding:1rem;
}
.review__button {
  background: oklch(0.76 0.11 45.49);
  border-radius: 0.5rem;
  padding: 1rem 1.75rem;
  border: none;
  margin: 0 auto;
  width: 200px;
  font-family: var(--ff-poppins);
  font-weight: var(--semibold);
  color: var(--vanilla-ok);
  background: var(--butterscotch-ok);
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1;
  transition: all 0.3s ease;
}
.review__button:hover {
  color: var(--vanilla-ok);
  background: oklch(0.76 0.11 45.49);
  cursor: pointer;
  transform: translateY(-5px);
}

.global__footerwrapper {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: auto;
  @media screen and (max-width:768px) {
    width: 90%;
    margin: 0 auto;
  }
}
.global__footerwrapper--inner{
  width: 100%;
  max-width: 90rem;
  margin: 7rem auto 0 auto;
  padding: 0.5rem 1rem;
  backdrop-filter: blur(13px);
  border: 1px solid var(--semi-transparent);
  // background: var(--semi-transparent);
  background: hsl(0deg 0% 48.71% / 27%);
  border-radius: 10px;
  @media screen and (max-width:768px) {
    width: 90%;
  }
}
.global__footerwrapper--inner--text--paragraph {
    font-family: var(--ff-acumin-pro);
    color: var(--off-white);
    text-align: center;
    word-wrap: normal;
    text-wrap-style: pretty;
}
.global__footerwrapper--links{
    font-family: var(--ff-acumin-pro);
    color: #dcdcdc;
    transition: all 0.4s ease-in-out;
}
.global__footerwrapper--links:hover {
  color: var(--maya-blue-ok);
}
#smooth-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

#smooth-content {
  will-change: transform;
  min-height: 100%; //correct overflow clip
  display: flex;
  flex-direction: column;
}
